<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Get Coin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway:200|Shrikhand" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" id="flash-message">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			</div>

			<div class="col-md-6 text-center">
				<div id="content">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="center-block" id="qr-window">
								<div id="qr-code">
								</div>
							</div>
							<div id="coin-string-wrap">
								<span id="coin-string">
								</span>
								<div id="copy-button-wrap">
								</div>
							</div>
							<hr>
							<div id="button">
								<button class="btn btn-primary btn-lg btn-outline" id="get-coin-button">
									Get Coin
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
			</div>
		</div>
	</div>

	<div id="state" style="display: none;">
		{{ STATE }}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
	<script src="{{ url_for('static', filename='js/get_coin.js') }}"></script>
</body>
</html>
